* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 4px #222 solid;
  width: 825px;
  margin: 5% auto;
  font-size: 17px;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 250px repeat(2, 1fr);
  align-items: start;
  justify-content: center;
  column-gap: 40px;
}

.sale-banner {
  position: absolute;
  background-color: #dd1313;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 10px;
  letter-spacing: 2px;
  left: -35px;
  top: -13px;
}

.product-title {
  background: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  grid-column: 1 / -1;
  text-align: center;
}

.product-image {
  width: 250px;
  height: 250px;
}

.price-shipping {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.product-price {
  font-size: 24px;
}

.Product-Shipping {
  font-size: 12px;
  font-weight: bold;
  color: #7a7a7a;
}

.product-description {
  margin-top: 10px;
}

.product-info-link {
  display: inline-block;
  margin-top: 10px;
  color: #222;
}
.product-info-link:hover {
  text-decoration: none;
}

.colors {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.color {
  width: 22px;
  height: 22px;
  background-color: #222;
}
.blue {
  background-color: #1542a1;
}
.red {
  background-color: #811313;
}
.yellow {
  background-color: #dfc800;
}
.green {
  background-color: #007209;
}
.brown {
  background-color: #5e2f10;
}

.div-product-detail {
  margin-top: 20px;
}

.product-details-title {
  font-size: 24px;
  margin-bottom: 8px;
}

ul {
  list-style: square;
}
li {
  margin-left: 20px;
  margin-bottom: 8px;
}
li:last-child {
  margin-bottom: 0;
}

.add-to-cart {
  font-size: 20px;
  font-weight: bold;
  color: #f2f2f2;

  background-color: #222;
  cursor: pointer;

  width: 100%;
  border: none;

  padding-top: 10px;
  padding-bottom: 10px;
  grid-column: 1 / -1;
}

.add-to-cart:hover {
  background-color: #fff;
  color: #222;

  border-top: #222 solid;
}
